.App {
  
  display: flex;
  flex-direction: column;

}
.App-head {
  color: #fff;
  height: 100px;
  background-color: #212F3D;
  border-bottom: 3px solid #641E16;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.App-head-title{
  opacity: .5;
  font-size: 45px;
}
.App-head-list li {
  list-style: none;
  margin-top: 10px;
  opacity: .5;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-head-list-i {
  margin-right: 5px;
}

