.chat-main {
    height: 450px;
    display: flex;
    flex-direction: column;
}
.chat-main-header {
    padding-top: 10px;
    text-align: center;
    height: 30px;
    background: #212F3D;
    color: #fff;
    border-bottom: 2px solid #641E16;
}
.chat-main-prueba {
   height: 350px;
   position: relative;
}
.chat-main-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
.chat-main-prueba::-webkit-scrollbar {
    width: 100px;
}
.chat-main-footer {
    display: flex;
}
.chat-main-footer-button {
    height: 45px;
    border-radius: 0px;
}
.chat-main-footer input {
    height: 33px;
    border-radius: 0px;
}
.chat-main-scroll {
    height: 100%;
    width: 100%;
    background: #1B2631;
    overflow-y: hidden;
}

#you.message {
    align-self: end;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#other.message {
    align-self: start;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    gap: 5px;
}
#you.message .message-header {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background: #1063A0;
    display: flex;
    max-width: 200px;   
}

#you.message .message-meta {
    font-size: 15px;
    color: #fff;
    display: flex;
    width: fit-content;
    align-self: end;
    gap: 2px;
}

#other.message .message-header {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background: #8DC2E8 ;
    display: flex;
    max-width: 200px;
}
#other.message .message-meta {
    font-size: 15px;
    color: #fff;
    align-self: start;
    display: flex;
    gap: 2px;
}
