.entry{
    height: 80vh;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.entry h1 {
    color: #fff;
    opacity: .6;
    font-size: 60px;
    transition: .8s
}
.entry h1:hover{
    transform: scale(1.5)
}

