.home{
    height: 100vh;
    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home-picture {
    min-width: 100px;
    display: flex; 
}
.home-picture img {
    outline: 2px solid brown;
    object-fit: contain;
    
}
.home-article{
    outline: 2px solid green;
   
    display: flex;
    
}
.table{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    padding: 20px;
    align-items: center;
    height: 550px;
}
.card-body {
    width: 400px;
    display: flex;
    color: #fff;
    background: #212F3D;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #641E16;
}
.card-header {
    display: grid;
    place-items: center;
    height: 5vh;
    width: 100px;
    
}
.card-article {
    display: grid;
    place-items: center;
    width: 200px;
}

.table-button { 
    width: 100px;
}
.card-article-text{
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}
.card-article-text-free{
    color: #B2FC8B;
    font-weight: bold;
}
.card-article-text-using{
    color: #FD6800;
    font-weight: bold;
}
/*
@media screen and (max-width: 1500px){
    .home{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
        
    }
    .home-picture{
        min-width: 500px;
        outline: 2px solid red;
        justify-content: center;
    }


}
*/

